@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: #ffffff; /* Set text color to white */
}

.text-gradient {
  background: linear-gradient(to bottom, #ecbb54, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline-gradient {
  background-image: linear-gradient(to right, #fbbf24, #ffffff); /* Gradient colors */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 3px; /* Thickness of the underline */
}


@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffff;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.typing-effect {
  border-right: 0.08em solid #fff;
  animation: blink-caret 1s step-end infinite;
}
.appear-animation {
  animation: appear 1s ease-out;
}
.move-up-animation {
  animation: move-up 1s ease-out forwards;
}
@layer utilities {
  .text-balance {
    text-wrap: inherit;
  }
}
